<!DOCTYPE html>
<html>
<head>
    <title>Fantasy Basketball Tools</title>
    <h1>Fantasy Basketball Tools</h1>
</head>
<body>

<p>An application that calculates and displays various statistics for ESPN Fantasy Basketball leagues. The
    code/application works for (public) leagues of any size that use H2H Most Cat. scoring and a scoring system of FG%,
    FT%, 3PM, REB, AST, STL, BLK, TO, PTS. For more information and to see the source code of the project, checkout
    the <a href="https://github.com/wcrasta/ESPN-Fantasy-Basketball" target="_blank">GitHub repository</a>.
</p>

<form method= 'POST' action='/'>
    <strong>Enter URL of standings page (ex: http://games.espn.com/fba/standings?leagueId=224165&amp;seasonId=2017):</strong><br>
  <input type='text' name='url'>
  <br><br>
  <input type='submit' value='Submit'>
</form>

</body>
</html>