<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <h1>Welcome</h1>
</head>
<body>

<p>
<span style="background-color: #FFFF00">As of the 2018-2019 Fantasy Basketball season, this website no longer works.
    This is due to ESPN completely changing the layout of their fantasy website.</span>
I'll spend some time trying to fix the application, but might decide not to fix it it all.
You can track the status of this website by going to the GitHub repo below and looking at the issues. Feel free to leave
me your feedback on if this site was helpful in the past, I love reading those! My e-mail address is
<a href="mailto:warrencrasta@gmail.com">warrencrasta@gmail.com</a>.
</p>

<p>An application that calculates and displays various statistics for ESPN Fantasy Basketball leagues. The
    code/application works for (public) leagues of any size that use H2H Most Cat. scoring.
    For more information and to see the source code of the project, checkout
    the <a href="https://github.com/wcrasta/ESPN-Fantasy-Basketball" target="_blank">GitHub repository</a>.
</p>

<form method= 'POST' action='/tools'>
    <strong>Enter URL of league office page (ex: http://games.espn.com/fba/leagueoffice?leagueId=224165&seasonId=2017):</strong><br>
    {% if invalidURL %}
            <font color="red">Either URL is incorrect or league is private.</font></br>
    {% endif %}
  <input type='text' name='url'>
  <br><br>
  <input type='submit' value='Submit'>
</form>

</body>
</html>