{% macro google_analytics() %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131744868-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131744868-2');
    </script>
{% endmacro %}

{% macro show_weeks_dropdown(league_id, current_week, weeks, endpoint) %}


    <!--suppress Annotator -->
    <p>
        <form method="POST" action="{{ url_for(endpoint, leagueId=league_id) }}">
            <label>Show the results for: </label>
            <select name="week_selection" onchange="this.form.submit()">
                {% for week in weeks %}
                    {% set week_num = (week.split(' ')[1]) %}
                    <option {% if current_week|string == week_num|string %} selected="selected"{% endif %} value="{{week_num}}">
                        {{ week }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </p>
{% endmacro %}

{% macro show_menu(league_id) %}
    <a href = '{{ url_for('index', leagueId=league_id) }}'>Main Page</a> |
    <a href = '{{ url_for('tools', leagueId=league_id) }}'>Tools Page</a>
{% endmacro %}

{% macro rankings_macro(type, league_id, current_week, weeks, rankings, intro, conclusion) %}
    <!DOCTYPE html>
    <html>
    <head>
        {{ google_analytics() }}
        <title>{{ type }} Rankings</title>
    </head>
    <body>
    <h1>{{ type }} Rankings</h1>
    {{ show_menu(league_id) }}
    <br />
    {% if 'Weekly' == type %}
        {{ show_weeks_dropdown(league_id, current_week, weeks, 'weekly_rankings') }}
    {% endif %}
    <p>{{ intro }} In the event of a tie in
        the rankings, multiple teams will appear on the same line, delimited by a comma. </p>

    {% for item in rankings %}
       {{ loop.index }}. {{ item[1]|join(', ') }}<br>
    {% endfor %}

    <br>
    <a href = '{{ url_for(type.lower() + "_matchups", leagueId=league_id) }}'>See {{ type }} Matchups</a>
    <h2>How It Works</h2>
    <p>{{ conclusion }} It then compares a team's stats for the
        whole {% if 'Weekly' == type %} {{ type.lower()[:-2] }} {% else %} {{ type.lower() }}{% endif %}
        against the stats for every other team and computes the score. The result of all these comparisons are
        displayed in the link above for the user to see. Teams with more wins against their peers are ranked higher in the
        "{{ type }} Rankings".</p>
    </body>
    </html>
{% endmacro %}

{% macro matchups_macro(type, league_id, current_week, weeks, matchups) %}
    <!DOCTYPE html>
    <html lang='en'>
    <head>
        {{ google_analytics() }}
        <meta charset='UTF-8'>
        <title>{{ type }} Matchups</title>
        <style>
            table, td, th {
              border: 1px solid black;
              text-align: center;
            }

            table {
                border-collapse: collapse;
                width: 60%
            }
        </style>
    </head>
    <body>
    <h1>{{ type }} Matchups</h1>
    {{ show_menu(league_id) }}
    <br />
    {% if 'Weekly' == type %}
        {{ show_weeks_dropdown(league_id, current_week, weeks, 'weekly_matchups') }}
    {% endif %}
    <p>This page shows: taking the whole {% if 'Weekly' == type %} {{ type.lower()[:-2] }} {% else %} {{ type.lower() }}{% endif %}'s data into account, how many categories would you win against each of your
    opponents?</p>
    <a href = '{{ url_for(type.lower() + "_analysis", leagueId=league_id) }}'>See {{ type }} Further Analysis</a><br/><br/>
    {% for team in matchups %}
        <table>
            <tr>
                <th>Team 1</th>
                <th>Team 2</th>
                <th>Won</th>
                <th>Lost</th>
                <th>Tied</th>
            </tr>
            {% for team_matchup in team %}
                {% set team_a = team_matchup[0] %}
                {% set team_b = team_matchup[1] %}
                {% set w = team_matchup[2][0] %}
                {% set l = team_matchup[2][1] %}
                {% set t = team_matchup[2][2] %}
                {% set color = 'none' %}
                {% if w > l %}
                    {% set color = 'green' %}
                {% elif w < l %}
                    {% set color = 'red' %}
                {% endif %}
                <tr style ="color:{{ color }}">
                    <td>{{ team_a }}</td>
                    <td>{{ team_b }}</td>
                    <td>{{ w }}</td>
                    <td>{{ l }}</td>
                    <td>{{ t }}</td>
                </tr>
            {% endfor %}
        </table>
        <br/><br/>
    {% endfor %}
    </body>
    </html>
{% endmacro %}

{% macro analysis_macro(type, league_id, current_week, weeks, analysis, intro) %}
    <!DOCTYPE html>
    <html lang='en'>
    <head>
        {{ google_analytics() }}
        <meta charset='UTF-8'>
        <title>{{ type }} Further Analysis</title>
        <style>
            table, td, th {
              border: 1px solid black;
              text-align: center;
            }

            table {
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
    <h1>{{ type }} Further Analysis</h1>
    {{ show_menu(league_id) }}
    <br />
     {% if 'Weekly' == type %}
        {{ show_weeks_dropdown(league_id, current_week, weeks, 'weekly_rankings') }}
    {% endif %}
    <p>{{ intro }}</p>
    {% for team in analysis %}
        <table>
            <tr>
                <th>Team 1</th>
                <th>Team 2</th>
                <th>Won</th>
                <th>Lost</th>
                <th>Tied</th>
            </tr>
            {% for team_matchup in team %}
                {% set team_a = team_matchup[0] %}
                {% set team_b = team_matchup[1] %}
                {% set w = team_matchup[2][0] %}
                {% set l = team_matchup[2][1] %}
                {% set t = team_matchup[2][2] %}
                {% set won_list = team_matchup[3] %}
                {% set lost_list = team_matchup[4] %}
                {% set tied_list = team_matchup[5] %}
                {% set color = 'none' %}
                {% if w > l %}
                    {% set color = 'green' %}
                {% elif w < l %}
                    {% set color = 'red' %}
                {% endif %}
                <tr style ="color:{{ color }}">
                    <td>{{ team_a }}</td>
                    <td>{{ team_b }}</td>
                    <td>
                        {% for won_item in won_list %}
                            <strong>{{ won_item[0] }}</strong> ({{ won_item[1] }}),
                        {% endfor %}
                    </td>
                    <td>
                        {% for lost_item in lost_list %}
                            <strong>{{ lost_item[0] }}</strong> ({{ lost_item[1] }}),
                        {% endfor %}
                    </td>
                    <td>
                        {% for tied_item in tied_list %}
                            <strong>{{ tied_item[0] }}</strong>,
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br/><br/>
    {% endfor %}
    </body>
    </html>
{% endmacro %}

{% macro sos_macro(league_id, current_week, rankings) %}
    <!DOCTYPE html>
    <html lang='en'>
    <head>
        {{ google_analytics() }}
        <meta charset='UTF-8'>
        <title>Season Strength of Schedule</title>
        <style>
            table, td, th {
              border: 1px solid black;
              text-align: center;
            }

            table {
                border-collapse: collapse;
                width: 60%
            }
        </style>
    </head>
    <body>
    <h1>Strength of Schedule</h1>
    {{ show_menu(league_id) }}
    <br />
    <p>This page shows the strength of schedule for each team. This averages the number of possible wins/losses/draws
        a player's opponent has each week against other teams over the course of the season. Higher average opponent
        wins means a harder schedule. Probably does not work for leagues with an odd number of teams. </p>
    <table>
        <tr>
            <th>Ranking</th>
            <th>Team</th>
            <th>Avg. Opponent Wins</th>
            <th>Avg. Opponent Losses</th>
            <th>Avg. Opponent Draws</th>
        </tr>
        {% for team in rankings %}
            <tr>
                <td>{{ team[0] }}</td>
                <td>{{ team[1] }}</td>
                <td>{{ team[2] }}</td>
                <td>{{ team[3] }}</td>
                <td>{{ team[4] }}</td>
            </tr>
        {% endfor %}
    </table>
    <br/><br/>
    </body>
    </html>
{% endmacro %}