<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Matchups</title>
</head>
<body>
<h1>Complete Matchup Predictions:</h1>
<a href = '{{ url_for('analysis') }}'>See further analysis</a><br/><br/>
{% for item in matchups %}
    {% if item == ('*' * 100) %}
        {{ item }} <br />
    {% else %}
        {% set results = item.split()[-1] %}
        {% set w = (results.split('-')[0]|int) %}
        {% set l = (results.split('-')[1]|int) %}
        {% if w > l %}
            <font color='green'>{{ item }}</font>
        {% elif w == l %}
            {{ item }}
        {% else %}
            <font color='red'>{{ item }}</font>
        {% endif %}
        <br/>
    {% endif %}
{% endfor %}
</body>
</html>