{% from 'macros.html' import show_menu, google_analytics %}

<!DOCTYPE html>
<html lang="en">
<head>
    {{ google_analytics() }}
    <meta charset="UTF-8">
    <title>Tools</title>
</head>
<body>
<h1>Tools</h1>
{{ show_menu(league_id) }}
<br /><br />
<strong><u>Weekly Data Tools</u></strong> <br />
These tools analyze weekly data.
<span style='color:red'>Weekly Data Tools only work for leagues with <strong>H2H Most Cat.</strong> scoring.</span><br/>
<ul>
    <li><a href = '{{ url_for('weekly_rankings', leagueId=league_id) }}'>Weekly Rankings</a><br /></li>
    <li><a href = '{{ url_for('weekly_matchups', leagueId=league_id) }}'>Weekly Matchups</a><br /></li>
    <li><a href = '{{ url_for('weekly_analysis', leagueId=league_id) }}'>Weekly Further Analysis</a><br /></li>
</ul>
<br />
<strong><u>Season Data Tools</u></strong> <br />
These tools analyze data from the whole season.
<ul>
    <li><a href = '{{ url_for('season_rankings', leagueId=league_id) }}'>Season Rankings</a><br /></li>
    <li><a href = '{{ url_for('season_matchups', leagueId=league_id) }}'>Season Matchups</a><br /></li>
    <li><a href = '{{ url_for('season_analysis', leagueId=league_id) }}'>Season Further Analysis</a><br /></li>
    <li><a href = '{{ url_for('season_sos', leagueId=league_id) }}'>Season Strength of Schedule</a><br /></li>
    <li><a href = '{{ url_for('overall_perf', leagueId=league_id) }}'>Season Overall Performance</a><br /></li>
</ul>
</body>
</html>