{% from 'macros.html' import show_weeks_dropdown, show_menu %}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Weekly Matchups</title>
    <style>
        table, td, th {
          border: 1px solid black;
          text-align: center;
        }

        table {
            border-collapse: collapse;
            width: 60%
        }
    </style>
</head>
<body>
<h1>Weekly Matchups</h1>
{{ show_menu(league_id) }}
<br />
{{ show_weeks_dropdown(league_id, current_week, weeks, 'weekly_matchups') }}
<p>This page shows: taking the current week's data into account, how many categories would you win against each of your
opponents?</p>
<a href = '{{ url_for('weekly_analysis', leagueId=league_id) }}'>See Weekly Further Analysis</a><br/><br/>
{% for team in matchups %}
    <table>
        <tr>
            <th>Team 1</th>
            <th>Team 2</th>
            <th>Won</th>
            <th>Lost</th>
            <th>Tied</th>
        </tr>
        {% for team_matchup in team %}
            {% set team_a = team_matchup[0] %}
            {% set team_b = team_matchup[1] %}
            {% set w = team_matchup[2][0] %}
            {% set l = team_matchup[2][1] %}
            {% set t = team_matchup[2][2] %}
            {% set color = 'none' %}
            {% if w > l %}
                {% set color = 'green' %}
            {% elif w < l %}
                {% set color = 'red' %}
            {% endif %}
            <tr style ="color:{{ color }}">
                <td>{{ team_a }}</td>
                <td>{{ team_b }}</td>
                <td>{{ w }}</td>
                <td>{{ l }}</td>
                <td>{{ t }}</td>
            </tr>
        {% endfor %}
    </table>
    <br/><br/>
{% endfor %}
</body>
</html>