<!DOCTYPE html>
<html>
<head>
    <title>Weekly Rankings</title>
</head>
<body>
<h1>Weekly Rankings</h1>
<a href = '{{ url_for('index', leagueId=leagueId, seasonId=seasonId) }}'>Main Page</a> |
<a href = '{{ url_for('tools', leagueId=leagueId, seasonId=seasonId) }}'>Tools Page</a>
<br />
<p>Weekly Rankings are automatically updated everyday and shows the hottest teams right now. In the event of a tie in
    the rankings, multiple teams will appear on the same line, delimited by a comma. </p>

{% for item in weekly_rankings %}
   {{ item }}<br>
{% endfor %}

<br>
<a href = '{{ url_for('app2_object.weekly_matchups', leagueId=leagueId, seasonId=seasonId) }}'>See Weekly Matchups</a>
<h2>How It Works</h2>
<p> The code scrapes the scoreboard table from the League Scoreboard page. It then compares a team's stats for the
    whole week against the stats for every other team and computes the score. The result of all these comparsions are
    displayed in the link above for the user to see. Teams with more wins against their peers are ranked higher in the
    "Weekly Rankings".</p>
</body>
</html>