<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Weekly Matchups</title>
</head>
<body>
<h1>Weekly Matchups</h1>
<a href = '{{ url_for('index', leagueId=leagueId, seasonId=seasonId) }}'>Main Page</a> |
<a href = '{{ url_for('tools', leagueId=leagueId, seasonId=seasonId) }}'>Tools Page</a>
<br />
<p>
    <form method="POST" action="{{ url_for('weekly_matchups', leagueId=leagueId, seasonId=seasonId) }}">
        <label>Show the results for: </label>
        <select name="week_selection" onchange="this.form.submit()">
            {% for week in weeks %}
                {% set weekNum = (week.split(' ')[1]) %}
                <option {% if currentWeek|string == weekNum|string %} selected="selected"{% endif %} value="{{weekNum}}">
                    {{ week }}
                </option>
            {% endfor %}
        </select>
    </form>
</p>
<p>This page shows: taking the current week's data into account, how many categories would you win against each of your
opponents?</p>
<a href = '{{ url_for('weekly_analysis', leagueId=leagueId, seasonId=seasonId) }}'>See Weekly Further Analysis</a><br/><br/>
{% for item in weekly_matchups %}
    {% if item == ('*' * 100) %}
        {{ item }} <br />
    {% else %}
        {% set results = item.split()[-1] %}
        {% set w = (results.split('-')[0]|int) %}
        {% set l = (results.split('-')[1]|int) %}
        {% if w > l %}
            <span style='color:green'>{{ item }}</span>
        {% elif w == l %}
            {{ item }}
        {% else %}
            <span style='color:red'>{{ item }}</span>
        {% endif %}
        <br/>
    {% endif %}
{% endfor %}
</body>
</html>