<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Weekly Matchups</title>
</head>
<body>
<h1>Weekly Matchups</h1>
<a href = '{{ url_for('index', leagueId=leagueId, seasonId=seasonId) }}'>Main Page</a> |
<a href = '{{ url_for('tools', leagueId=leagueId, seasonId=seasonId) }}'>Tools Page</a>
<br />
<p>This page shows: taking the current week's data into account, how many categories would you win against each of your
opponents?</p>
<a href = '{{ url_for('weekly_analysis', leagueId=leagueId, seasonId=seasonId) }}'>See Weekly Further Analysis</a><br/><br/>
{% for item in weekly_matchups %}
    {% if item == ('*' * 100) %}
        {{ item }} <br />
    {% else %}
        {% set results = item.split()[-1] %}
        {% set w = (results.split('-')[0]|int) %}
        {% set l = (results.split('-')[1]|int) %}
        {% if w > l %}
            <font color='green'>{{ item }}</font>
        {% elif w == l %}
            {{ item }}
        {% else %}
            <font color='red'>{{ item }}</font>
        {% endif %}
        <br/>
    {% endif %}
{% endfor %}
</body>
</html>